body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  background: url("./img/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: hsl(193, 100%, 96%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav img {
  width: 50vw;
  height: 100%;
}

nav button {
  width: 40%;
  padding: 2.5%;
  border-radius: 25px;
  background-color: white;
  border: 0.4px solid lightgrey;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 4vw;
  margin-left: 30px;
}

header {
  box-sizing: border-box;
  overflow: hidden;
}

.header-content {
  text-align: center;
  margin-top: 5%;
  padding: 5%;
}

.header-content button {
  background-color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  margin-top: 7.5%;
  width: 80%;
  border-radius: 25px;
}

.header-content img {
  margin-top: 15%;
  width: 100%;
}

/* Cards */
#card-wrapper {
  margin: 12.5% 0 50% 0;
}

.card {
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  padding: 25px;
  margin: 0 auto 10% auto;
  border: 0.4px solid lightgrey;
}
.card img {
  width: 100%;
}

/* Footer */
footer {
  background: hsl(192, 100%, 9%);
  color: white;
}

.footer-card {
  border: 0.5px solid lightgrey;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  text-align: center;
  padding: 10%;
  margin: 5%;
  background-color: white;
  color: black;
  position: relative;
  top: -100px;
}

.footer-card button {
  background-color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  width: 80%;
  border-radius: 25px;
}

.footer-content {
  margin-left: 5%;
}

.footer-content img {
  color: white;
  background-color: white;
}

.footer-label {
  display: flex;
  align-items: center;
}

.footer-label p {
  margin-left: 5%;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  margin: 5% 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-social-links {
  margin-top: 15%;
}

.footer-social-links ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-links ul li a {
  color: white;
}

.copyright {
  padding: 10% 0 20% 0;
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  header {
    background: url("./img/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: hsl(193, 100%, 96%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
